
<footer>
    <div class="footer-content">
        <div class="footer-sponsors-section">
            <h1 class="white-text">Our Sponsors</h1>
            
            <div class="footer-sponsor-tier footer-gold-tier">
                <h4>Endurance Sponsors</h4>
                <div class="footer-sponsors-grid">
                    <div class="footer-sponsors-logo gold">
                        <a href="https://www.endeavourcycles.au/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/Endeavour-Cycles-White.webp" alt="Endeavour Cycles">
                        </a>
                    </div>
                    <div class="footer-sponsors-logo gold">
                        <a href="https://www.cronullarsl.com.au/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/CronullaRSL.webp" alt="Cronulla RSL">
                        </a>
                    </div>
                </div>
            </div>       
            
            <div class="footer-sponsor-tier footer-silver-tier">
                <h4>Sprint Sponsors</h4>
                <div class="footer-sponsors-grid">
                    <div class="footer-sponsors-logo silver">
                        <a href="https://www.therunningcompany.com.au/the-shire/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/The-Runnnig-Company.webp" alt="The Running Company">
                        </a>
                    </div>
                    <div class="footer-sponsors-logo silver">
                        <a href="https://www.southernpodiatry.com.au/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/Southern-Sports-Podiatry-Logo.webp" alt="Southern Sports Podiatry">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer-sponsor-tier footer-bronze-tier">
                <h4>Enticer Sponsors</h4>
                <div class="footer-sponsors-grid">
                    <div class="footer-sponsors-logo bronze">
                        <a href="https://karizetlitzlarssen.com/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/EliteHealth.webp" alt="Elite Health">
                        </a>
                    </div>
                    <div class="footer-sponsors-logo bronze">
                        <a href="https://www.aevumhealth.com.au/" target="_blank" rel="noopener">
                            <img src="/assets/images/components/footer/sponsors/Aevum.webp" alt="Aevum">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-border"></div>
        
        <div class="footer-social-media-section">
            <div class="footer-footer-social-icons">
                <a href="https://www.facebook.com/CronullaTriathlonClub" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/facebook.png" alt="Facebook Icon" class="footer-social-icon">
                </a>
                <a href="https://www.instagram.com/cronullatriclub/" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/instagram.png" alt="Instagram Icon" class="footer-social-icon">
                </a>   
                <a href="https://www.strava.com/clubs/cronullatriclub" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/strava.png" alt="Strava Icon" class="footer-social-icon">  
                </a>    
            </div>
        </div> 

        
        <div class="footer-governance-section">
            <p><a href="/governance/contact-us.html">Contact Us</a></p>
            <p><a href="/governance/policies.html">Policies</a></p>
        </div>

        <div class="footer-copyright-section">
            <p>Copyright <span id="footer-year"></span> © Cronulla Triathlon Club. Designed and created by <a href="https://www.craddock.it" target="_blank" rel="noopener">David Craddock</a>. All rights reserved.</p>
        </div>
    </div>
</footer>
