
<footer>
    <div class="footer-content">
        <div class="sponsors-section">
            <h1>Our Sponsors</h1>
            
            <div class="sponsor-tier gold-tier">
                <h4>Endurance Sponsors</h4>
                <div class="sponsors-grid">
                    <div class="sponsor-logo gold"><img src="/assets/images/components/footer/sponsors/Endeavour-Cycles-White.png" alt="Endeavour Cycles"></div>
                    <div class="sponsor-logo gold"><img src="/assets/images/components/footer/sponsors/CronullaRSL.png" alt="Cronulla RSL"></div>
                </div>
            </div>       
            
            <div class="sponsor-tier silver-tier">
                <h4>Sprint Sponsors</h4>
                <div class="sponsors-grid">
                    <div class="sponsor-logo silver"><img src="/assets/images/components/footer/sponsors/The-Runnnig-Company.jpg" alt="The Running Company"></div>
                    <div class="sponsor-logo silver"><img src="/assets/images/components/footer/sponsors/Southern-Sports-Podiatry-Logo.png" alt="Southern Sports Podiatry"></div>
                </div>
            </div>
            
            <div class="sponsor-tier bronze-tier">
                <h4>Enticer Sponsors</h4>
                <div class="sponsors-grid">
                    <div class="sponsor-logo bronze"><img src="/assets/images/components/footer/sponsors/TuneUp_Logo.png" alt="Southern Sports Podiatry"></div>
                    <div class="sponsor-logo bronze"><img src="/assets/images/components/footer/sponsors/EliteHealth.jpg" alt="Elite Health"></div>
                    <div class="sponsor-logo bronze"><img src="/assets/images/components/footer/sponsors/Aevum.png" alt="Aevum"></div>
                </div>
            </div>
        </div>
        
        <div class="social-media-section">
            <div class="social-icons">
                <a href="https://www.facebook.com/CronullaTriathlonClub" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/facebook.png" alt="Facebook Icon" class="social-icon">
                </a>
                <a href="https://www.instagram.com/cronullatriathlonclub/" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/instagram.png" alt="Instagram Icon" class="social-icon">
                </a>   
                <a href="https://www.strava.com/clubs/cronullatriathlonclub" target="_blank" rel="noopener">
                    <img src="/assets/images/components/footer/social/strava.png" alt="Strava Icon" class="social-icon">  
                </a>    
            </div>
        </div> 

        <div class="copyright-section">
            <p>Copyright 2025 © Cronulla Triathlon Club. Designed and created by David Craddock. All rights reserved.</p>
        </div>
    </div>
</footer>