<header class="header">
    <div class="header-logo">
        <a href="/index.html">
            <img src="/assets/images/components/header/cronullalogo.png" alt="Cronulla Triathlon Club Logo" class="header-logo-image">
        </a>
    </div>

    <nav class="navbar">
        <div class="nav-links">
            <div class="nav-links-left">
                <div class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Train ▾</a>
                    <div class="nav-dropdown-menu">
                        <a href="/train/calendar.html">Calendar</a>
                        <a href="/train/swim.html">Swim</a>
                        <a href="/train/bike.html">Bike</a>
                        <a href="/train/run.html">Run</a>
                        <a href="/train/juniors.html">Juniors</a>
                    </div>
                </div>
                <div class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Race ▾</a>
                    <div class="nav-dropdown-menu">
                        <a href="/race/points-score.html">Points Scoring Races</a>
                        <a href="/race/triathlons.html">Club Triathlons</a>
                        <a href="/race/time-trials.html">Club TT's</a>
                        <a href="/race/duathlons.html">Club Duathlons</a>
                        <a href="/race/rwa.html">RWA</a>
                        <a href="/race/stu-ford.html">Stu Ford TT</a>
                        <a href="/race/jan-hood.html">Jan Hood Trophy</a>
                        <a href="/race/club-champs.html">NSW Club Championships</a>
                    </div>
                </div>
            </div>

            <div class="nav-links-right">
                <div class="nav-dropdown">
                    <a href="#" class="nav-dropdown-toggle">Belong ▾</a>
                    <div class="nav-dropdown-menu">
                        <a href="/belong/membership.html">Membership</a>
                        <a href="/belong/robertson-ride.html">Robinson Ride</a>
                        <a href="/belong/christmas-run.html">Christmas Run</a>
                        <a href="/belong/presentation.html">Club Presentation Night</a>
                        <a href="/belong/history.html">Club History</a>
                        <a href="/belong/committee.html">Committee</a>
                        <a href="/belong/life-members.html">Life Members</a>
                        <a href="/belong/in-memory.html">In Memory</a>
                        <a href="/belong/past-presidents.html">Past Presidents</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>