@media (max-width: 1199px) {
    .slide-image:nth-child(4) {
        display: none;
    }
}

@media (max-width: 899px) {
    .slide-image:nth-child(3) {
        display: none;
    }
}

@media (max-width: 599px) {
    .slide-image:nth-child(2) {
        display: none;
    }
}