.title {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='240' viewBox='0 0 1500 240'><defs><linearGradient id='grad' x1='0%' y1='0%' x2='100%' y2='0%'><stop offset='0%' stop-color='%234facfe'/><stop offset='100%' stop-color='%230089E9'/></linearGradient></defs><path d='M1500 120 Q1125 180 750 120 T0 120 L0 0 L1500 0 Z' fill='url(%23grad)'/></svg>");
    background-repeat: no-repeat;
    background-size: auto 580px;
    background-position: center top;
    position: relative;
    padding-top: 100px;
    padding-bottom: 160px;
}

.title-container {
    position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 50px;
}

.title-logo {
    position: absolute;
    left: 50%;
    bottom: -180px;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    z-index: 10;
}

.title-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}