@media (max-width: 768px) {
    .title {
        background-size: auto 500px;
        margin-bottom: 0px;
        padding-bottom: 100px;
    }
    
    .title-logo {
        width: 120px;
        height: 120px;
        bottom: -130px;
    }
}